.well {
  background-color: white;
}


#my-footer {
  background: #03a451;
  color: #eee;
  font-size: 11px;
  padding: 20px;
  margin-top: 10px;
  overflow: hidden;
}

.main-container {
  min-height: 15%;
  min-width: 400px;
  overflow: hidden;
}

body {
  min-width: 400px;
}
