.well {
  background-color: white;
}


#my-footer {
  background: #03a451;
  color: #eee;
  font-size: 11px;
  padding: 20px;
  margin-top: 10px;
}

.main {
  min-height: 555px;
  min-width: 400px;
}

body {
  min-width: 400px;
}


a.best:hover, a.best:active, a.best:link, a.best:visited{
  color: gold;
  text-decoration: none;
}
