<footer id="my-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h6>About iNaturalist</h6>
        <p>
          <a href="https://www.inaturalist.org/">iNaturalist.org</a> is a place where you can record what you see in nature, meet other nature lovers, and learn about the natural world.
        </p>
      </div>
      <div class="col-sm-2">
        <h6>Coded by <span class="glyphicon glyphicon-th"></span> Allyse </h6>
      </div>
    </div>
  </div>
</footer>
